@import url("style.css");
@import url("extra.css");


/* SubHeading */
.holder .wrapper h2 {
  font-size: calc(var(--text-smtitle-size) * 1.2);
  font-family: var(--font-worksans);
  color: var(--color-primary-darken);
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.aos-right-hidden{
  opacity: 0;
  fill: blur(5px);
  transform: translateX(20%);
  transition: all 1s;
}

.aos-right-show{
  opacity: 1;
  fill: blur(0);
  transform: translateX(0);
}

/*=============================================
        =            TITLE            =
=============================================*/

.title-ctr {
  position: relative;
  height: 55vh;
  border: 1px solid;
}

.title-ctr::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://images.unsplash.com/photo-1589983850741-7dde79db1ebc?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 0% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(60%);
}

.title-ctr h1 {
  font-family: var(--font-handwriting);
  font-size: calc(var(--text-title-size) * 1.2);
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 4.5px;
}

.title-ctr > .wrapper {
  padding-left: 5%;
  padding-bottom: 1%;
  max-width: fit-content;
  position: absolute;
  bottom: 0px;
}

/*=============================================
    =            VISION SECTION            =
=============================================*/


.vision-ctr{
  margin-block: 15vh;
}

.flx-hld {
  display: flex;
  flex-direction: row;
  font-size: var(--text-body-size);
  text-wrap: pretty;
}


/*=============================================
    =            FACULTIES            =
=============================================*/


.fac{
  margin-block: 15vh;
  overflow-x: hidden;
}

.fac-row {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.hol {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.fac-row > .hol > img {
  width: 55%;
  aspect-ratio: 9/6;
}

.txt-hld-lft,
.txt-hld-rght {
  background-color: var(--color-primary);
  position: relative;
  height: fit-content;
  z-index: 1000;
}

.txt-hld-rght {
  padding: 40px 60px 40px 25px;
  right: 15%;
}

.txt-hld-lft {
  padding: 40px 15px 40px 45px;
  left: 15%;
}

.txt-hld h3 {
  font-size: var(--text-heading-size);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: var(--font-handwriting);
  color: var(--color-text-white);
}

.txt-hld p {
  color: var(--color-text-white);
  font-size: 17px;
  text-wrap: pretty;
}

/*=============================================
      =           SECTION-2           =
=============================================*/

.sec-2{
  margin-block: 15vh;
  overflow: hidden;
}

.sec-2-hld {
  position: relative;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-slider-list {
  position: relative;
  height: 546.66px;
}

.slide-track {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 250ms ease-in;
}

.current-slide {
  display: block !important;
  opacity: 1 !important;
}

.slide-track img {
  width: 820px;
  aspect-ratio: 9/6;
}

.slider-nav {
  width: 66% !important;
  display: flex;
  justify-content: center;
  padding-top: 20px !important;
}

.slider-indicator {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  transition: all 0.3s ease-in ;
}

.slider-indicator:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.slider-indicator.active {
  width: 12px;
  height: 12px;
  background-color: #d0021b;
}

.sec-2-hld .txt-slide {
  position: absolute;
  top: 190px;
  right: 70px;
  background-color: #d0021b;
  color: var(--color-text-white);
  padding: 42px 60px 62px 40px;
  width: 462px;
  height: 500px;
}

.txt-slider-list {
  position: relative;
}

.text {
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 250ms ease-in-out;
}
.text h3 {
  font-size: var(--text-heading-size);
  margin-bottom: 40px;
  max-height: min-content;
}

.text p {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 15px;
  text-wrap: pretty;
}

.clck-txt {
  width: fit-content;
  display: flex;
  cursor: pointer;
  color: var(--color-text-white);
  font-weight: 900;
  font-size: 17px;
  margin-top: 25px;
  transition: all 350ms ease;
  gap: 0px;
}

.clck-txt:hover {
  gap: 5px;
}




/*=============================================
  =            MEDIA QUERIES            =
=============================================*/

@media (max-width: 1280px) {
  /* !The local variables
    p - calc(var(--text-heading-size) * .9);
    */

  .holder {
    max-width: 1024px !important;
  }

  
  /*----------  Vision  ----------*/

  .flx-hld{
    font-size: 17px;
  }
  
  
  /*=====  Facilities ======*/

  .fac-row > .hol > img{
    width: 65%;
  }

  .rght{
    justify-content: end
  };

  .lft{
    justify-content: start;
  }

  .fac-row{
    gap: 7vh;
  }

  .hol{
    gap: 2.5px;
  }

  .txt-hld p {
    width: 40ch;
  }

  .txt-hld-lft{
    left: 15%  ;
  }

  .txt-hld-rght{
    right: 17.5%  ;
  }

  .txt-hld h3{
    font-size: calc(var(--text-heading-size) * .9);
  }
  
}

@media (max-width: 1024px) {
  /* ! The local variables
    h - calc(var(--text-heading-size) * .8);
    */

  .holder {
    max-width: 768px !important;
  }

  .header-hold{
    max-width: 100% !important;
  }

  /*----------  Vision  ----------*/

  .flx-hld{
    flex-direction: column;
  }


  
  /*----------  FACILITIES  ----------*/
  
  .fac-row > .hol > img {
    width: 55%;
  }

  .hol p{
    color: var(--color-text-black);
  }

  .hol h3{
    color: #d0021b;
  }

  .txt-hld{
    background-color: white;
    position: static !important;
    padding: 0 0 0 0px;
  }
  
  .fac-row  .boxshadow{
    box-shadow: none ;
  }

  .txt-hld p {
    width: 30ch;
  }

  
  /*----------  SECTION-2  ----------*/

  .img-slider-list{
    height: 446.66px;
  }

  .slide-track img {
    width: 600px;
    aspect-ratio: 9/6;
  }
  
  .sec-2-hld .txt-slide{
    top: 100px;
    right: 0px;
    width: 350px;
    height: 520px;
  }

  .text h3{
    margin-bottom: 20px;
  }

  .clck-txt{
    margin-block: 20px;
  }

}

@media (max-width: 768px) {
  /* ! The local variables
    h - calc(var(--text-heading-size) * .6);  
    p - calc(var(--text-body-size) * .8);
    */

  .holder {
    max-width: 640px !important;
  }

  .holder .wrapper h2{
    font-size: calc(var(--text-smtitle-size) * .8);
  }

  
  /*=====  TITLE  ======*/
  
  
  .title-ctr > .wrapper{
    padding-left: 2.5%;
  }
  
  .title-ctr h1{
    font-size: calc(var(--text-title-size) * .8);
  }
  

  
  /*----------  FACILITIES  ----------*/
  
    .fac-row{
      gap: 10vh;
    }

    .lft{
      flex-direction: column;
    }
    .rght{
      flex-direction: column-reverse;
    }

    .hol{
      gap: 2.5vh;
    }

    .fac-row > .hol > img {
      width: 100%;
    }

    .respo{
      display: block !important;
    }

    .txt-hld p{
      width: fit-content;
    }

    .txt-hld h3{
      font-size: calc(var(--text-heading-size));
    }

  
    
    /*----------  SECTION - 2  ----------*/
    
    .sec-2-hld{
      display: flex;
      flex-direction: column;
    }

    .img-slide{
      padding: 0 !important;
    }

    .img-slider-list{
      height: auto;
      padding-bottom: 60%;

    }
    
    .slide-track img{
      width: 100%;
    }

    .sec-2-hld .txt-slide {
      position: static;
      width: 100%;
      height: auto;
      padding-top: 10%;
    }

    .slider-nav{
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      left: 13%;
    }

    .slider-indicator.active{
      background-color: white;
    }

}

@media (max-width: 640px) {

  .container{
    padding: 0 !important;
  }

  .holder {
    padding: 0 !important;
    max-width: 475px !important;
  }

   /*----------  FACILITIES  ----------*/
   
   .txt-hld h3{
    font-size: calc(var(--text-heading-size) * .9);
  }

   /*----------  SECTION - 2  ----------*/
   
   .sec-2-hld .txt-slide{
    padding-left: 20px;
    padding-right: 30px;
  }

}

@media (max-width: 475px) {

  /* !The local variable
    h - calc(var(--text-heading-size) * .6);
    */

  .holder {
    max-width: 100%;
  }

  /*=====  TITLE  ======*/
  

  .title-ctr > .wrapper{
    max-height: fit-content;
    /* position: static; */
    margin: 0 auto;
  }
    
  .title-ctr h1{
    font-size: calc(var(--text-title-size) * .75);
  }
  
  /*----------  SECTION - 2  ----------*/

  .sec-2-hld > .txt-slide{
    padding-right: 8px;
  }

  
}
