@import url(extra.css);
@import url(style.css);

:root {
  --layer: rgb(255, 255, 255, 0.4);
  --border-color-light: #eee;
  --bg-grey: #f4f4f4;
  --bg-lightgrey: #f8f9fa;
  --border-color-light: #eee;
  --bg-color: #fff;
  --heading-color: #060606;
  --footer-bg: #060500;
  --border-radius: 8px;
  --border-radius-full: 30px;
  --border-radius-max: 50px;
}

/*=============================================
        =            TITLE            =
=============================================*/

.title-ctr {
  position: relative;
  height: 55vh;
  border: 1px solid;
}

.title-ctr::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45)), url("../assets/images/pics-ours/DSC07352.JPG");
  background-position: 0% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(75%);
}

.title-ctr h1 {
  font-family: var(--font-handwriting);
  font-size: calc(var(--text-title-size) * 1.2);
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 4.5px;
}

.title-ctr > .wrapper {
  padding-left: 5%;
  padding-bottom: 1%;
  max-width: fit-content;
  position: absolute;
  bottom: 0px;
}

/*=============================================
    =            MANAGEMENT            =
=============================================*/

.sub-title > h2 {
  font-size: calc(var(--text-heading-size) * 1.5);
}

.sub-title {
  font-size: var(--text-heading-size);
  font-family: var(--font-worksans);
  color: var(--color-primary-darken);
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.faculdet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.box {
  display: flex;
  flex-direction: row;
  max-width: none;
  align-items: flex-end;
  padding: 0px 12px 60px 12px;
}

.box > .heading {
  padding-left: 25px;
  padding-right: 12px;
  padding-bottom: 15px;
}

.box img {
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box h2 {
  font-weight: bold;
}

.box h4 {
  font-size: 20px;
  font-weight: 100;
}

/*=============================================
    =            MEDIA QUERIES            =
=============================================*/

@media (max-width: 1280px) {
  /* !The local variables
    p - calc(var(--text-heading-size) * .9);
    */

  .holder {
    max-width: 1024px !important;
  }

  /*----------  Vision  ----------*/

  .flx-hld {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  /* ! The local variables
    h - calc(var(--text-heading-size) * .8);
    */

  .holder {
    max-width: 768px !important;
  }

  /*----------  Vision  ----------*/

  .flx-hld {
    flex-direction: column;
  }

  
  /*----------  MANAGEMENT  ----------*/
  
  .box img{
    height: 120px;
  }

  .box h2{
    font-size: 20px;
  }

  .box h4{
    font-size: 16px;
  }

  .box > .heading{
    padding-left: 12px;
  }
  
}

@media (max-width: 768px) {
  /* ! The local variables
    h - calc(var(--text-heading-size) * .6);  
    p - calc(var(--text-body-size) * .8);
    */

  .holder {
    max-width: 640px !important;
  }

  .holder .wrapper h2 {
    font-size: calc(var(--text-smtitle-size) * 0.8);
  }

  /*=====  TITLE  ======*/

  .title-ctr > .wrapper {
    padding-left: 2.5%;
  }

  .title-ctr h1 {
    font-size: calc(var(--text-title-size) * 0.8);
  }

  
  /*----------  MANAGEMENT  ----------*/
  
  .faculdet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .box img{
    height: 160px;
  }

  
}

@media (max-width: 640px) {
  .container {
    padding: 0 !important;
  }

  .holder {
    max-width: 475px !important;
  }


  
  /*----------  MANAGEMENT  ----------*/
  
  .faculdet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .box img{
    height: 200px;
  }

  .sub-title > h2 {
    font-size: 34px !important;
  }

  .sub-title {
    font-size: 25px !important;
  }
  
}

@media (max-width: 475px) {
  /* !The local variable
    h - calc(var(--text-heading-size) * .6);
    */

  .holder {
    max-width: 100%;
  }

  /*=====  TITLE  ======*/

  .title-ctr > .wrapper {
    max-height: fit-content;
    margin: 0 auto;
  }

  .title-ctr h1 {
    font-size: calc(var(--text-title-size) * 0.75);
  }

  
  /*----------  MANAGEMENT  ----------*/
  
  .sub-title > h2 {
    font-size: calc(var(--text-heading-size) * .6);
  }
  
  .sub-title > h2 {
    font-size: 30px !important;
  }

  .sub-title {
    font-size: 25px !important;
  }

}
