
@import url(main.css);
@import url(extra.css);


:root{
    --layer: rgb(255, 255, 255,.4);
    --border-color-light: #eee;
    --bg-grey: #f4f4f4;
    --bg-lightgrey: #F8F9FA;
    --border-color-light: #eee;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-bg: #060500;
    --border-radius: 8px;
    --border-radius-full: 30px;
    --border-radius-max: 50px;
}

.team{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 100px;
}

.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 1px 3px 16px rgba(7, 1, 1, 0.1);
    border-radius: 5px;
    background: #fff;
}
.team .member .teampic{
    overflow: hidden;
    width: 500px;
    border-radius: 50%;
}
.team .member .member-info{
    padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #cc3e58;
}
.team .member span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 14px;

}
.team .member .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.team .member .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;

}
.team .member .social a i{
    color: #cc3e58;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover{
    background: rgb(206, 104, 86);
}
.team .member:hover{
    border: 2px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.team .member .social a+a{
    margin-left: 8px;
}
section{
    padding: 60px 0;
    overflow: hidden;
}
.section-title{
    text-align: center;
    padding-bottom: 100px;   
}

.underline{
    width: 220px;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-top: -10px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
    color: #cc3e58;
    font-family: var(--font-handwriting);
}
.section-title p{
    margin-top: 20px;
}

/* our teachers*/
.slider{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: linear-gradient(to left top, #ffffff, #ffffff);
    box-sizing: border-box;
    
}
.wrapper {
    max-width: 1500px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #f8d3d3;
    border-radius: 50%;
    box-shadow: 0 5px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 20px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #df6363;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
/* footer  */
.footer-main{
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    display: flex;
  }
  
  .footer-content-box{
    float: left;
    padding: 20px;
    border-right: 3px solid var(--color-text-white);
  }
  
  .footer-content-box h5{
    color: var(--color-text-white);
    font-weight: 900;
    font-family: var(--font-malayalam);
  }
  
  .footer-content-box span{
    display: block;
    color: var(--color-text-white);
    line-height: 20px;
    font-size: var(--text-body-size);
    font-weight: 500;
  }
  
  .social-box{
    margin-top: 8rem;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .logo-circle{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--text-subheading-size);
    color: var(--color-text-white);
    border: 2px solid var(--color-text-white);
    transition: background-color 500ms linear;
  }
  
  .logo-circle:hover{
    background-color: var(--color-text-white);
    color: var(--color-primary);
    transition: background-color 500ms linear;
  }
  
  .footer-map-box{
    float: left;
    padding: 15px;
  }
  
  .map-sec{
    border-radius: var(--border-radius) var(--border-radius-max) var(--border-radius) var(--border-radius);
    height: 450px; 
  }
  
  @media (max-width: 768px){
  
    .footer-main{
      display: block;
    }
  
    .footer-map-box{
      float: none;
    }
  
    .footer-content-box{
      float: none;
      border-right: none;
      border-bottom: 3px solid var(--color-text-white);
    }
  
    .social-box{
      margin-top: 3rem;
    }
  
    .map-sec{
      height: 400px;
    }
  }