
@import url(main.css);
@import url(extra.css);


:root{
    --layer: rgb(255, 255, 255,.4);
    --border-color-light: #eee;
    --bg-grey: #f4f4f4;
    --bg-lightgrey: #F8F9FA;
    --border-color-light: #eee;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-bg: #060500;
    --border-radius: 8px;
    --border-radius-full: 30px;
    --border-radius-max: 50px;
}

/* managemmnet*/
.faculdet{
  margin-top: 5px;
    width:130%;
    padding-right: 160px;
  
  
  }

  .faculdet .box{
    max-width: 0px;
    display: table-row-group;
    border:3px solid rgb(175, 134, 134);
    margin: 10px auto;
    padding-left: -20px;
  }
  .box img{
    max-width: 180px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding-block: 20px;
   
}
  .box .heading{
    width: 10%;
    padding: 0 0px;
    min-width: 100px;
float: right;


  }
  .box .heading h2{
    margin-top: 90px;
    text-transform: uppercase;
    font-size: 20px;
  }
  .box .heading h4{
    text-transform: lowercase;
    margin-top: 2px;
}
  .headerdepartment{
    padding-top: 70px;
    align-content: flex-start;
    padding-left: 15px;
  }
  


  @media(max-width:412px) {
    .box img{
      max-width: 180px;
      height: 200px;
      display: block;
      object-fit: cover;
      padding-block: 20px;
      padding-left: 18px;
  }
    .box .heading{
      min-width: 50px;
  float: right;
  padding-right: 500px;
  padding-top: 40px;
  
  
    }
    .box .heading h2{
      margin-top: 90px;
      text-transform: uppercase;
      font-size: 20px;
      margin-right: px;
    }
    .box .heading h4{
      text-transform: lowercase;
      margin-top: 2px;
      font-size: 18px;
      width: 200px;
  }
  }

  
  @media(min-width:768px) {
    .faculdet{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 100px;
      max-width: 84%;
    
      margin-left: 270px;
     margin-right: 890px;
     border:3px solid rgb(255, 253, 253);

    }
    .faculdet .box{
      max-width: 480px;
      border:3px solid rgb(255, 255, 255);
      margin: 1px auto;
      padding-left: 20px;
      padding-right: 160px;
      margin-left: 20px;
      
    
    }
    .faculdet .box:hover{
   
        border: 2px solid var(--color-primary);
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    .faculdet .box img{
      max-width: 300px;
      height: 200px;
      display: block;
      object-fit: cover;
      padding: 0px;
      float: right;
      padding-right: 10px;
      padding-bottom: 45px;
    }
    .faculdet .box .heading{
      float: right;
      width:110px;

      padding-bottom: 18px;
      
    }
    .box .heading h4{
      text-transform: lowercase;
      width:190px;
}
.box .heading h2{
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 20px;
  
}
    .headerdepartment{
      padding-top: 150px;
      align-content: center;
      padding-left: 320px;
    }
    
  }
 
/* footer  */
.footer-main{
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    display: flex;
  }
  
  .footer-content-box{
    float: left;
    padding: 20px;
    border-right: 3px solid var(--color-text-white);
  }
  
  .footer-content-box h5{
    color: var(--color-text-white);
    font-weight: 900;
    font-family: var(--font-malayalam);
  }
  
  .footer-content-box span{
    display: block;
    color: var(--color-text-white);
    line-height: 20px;
    font-size: var(--text-body-size);
    font-weight: 500;
  }
  
  .social-box{
    margin-top: 8rem;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .logo-circle{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--text-subheading-size);
    color: var(--color-text-white);
    border: 2px solid var(--color-text-white);
    transition: background-color 500ms linear;
  }
  
  .logo-circle:hover{
    background-color: var(--color-text-white);
    color: var(--color-primary);
    transition: background-color 500ms linear;
  }
  
  .footer-map-box{
    float: left;
    padding: 15px;
  }
  
  .map-sec{
    border-radius: var(--border-radius) var(--border-radius-max) var(--border-radius) var(--border-radius);
    height: 450px; 
  }
  
  @media (max-width: 768px){
  
    .footer-main{
      display: block;
    }
  
    .footer-map-box{
      float: none;
    }
  
    .footer-content-box{
      float: none;
      border-right: none;
      border-bottom: 3px solid var(--color-text-white);
    }
  
    .social-box{
      margin-top: 3rem;
    }
  
    .map-sec{
      height: 400px;
    }
  }