/* 
Container - ctr
Content - cnt
 */

 @import url('style.css');

:root {
  --header-height: 100px;
  --color-text-black: #000000;
  --color-text-white: #faf2f4;
  --color-text-dim: #7b7a7b;
  --color-background: #faf2f4;
  --color-primary: #cc3e58;
  --color-primary-darken:#93273b;
  --color-secondary: #feb72a;
  --color-accent: #afaeaf;
  --text-title-size: 54px;
  --text-smtitle-size: 48px;
  --text-heading-size: 36px;
  --text-subheading-size: 24px;
  --text-body-size: 18px;
  --icon-body-size: 25px;
  --font-Main: "Hedvig Letters Serif", serif;
  --font-malayalam: "Noto Serif Malayalam", serif;
  --font-handwriting: "Dancing Script", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: var(--font-Main);
  /* background: hsl(33, 20%, 90%);  */
}



/*=============================================
  =            HEADER & NAVBAR            =
=============================================*/

.header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 33px 0%;
  height: var(--header-height);
  transition: all 0.5s ease-in-out;
}

.navlist a {
  color: var(--color-text-black);
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.25s ease-in;
  text-transform: uppercase;
}

.navlist li {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  transition: 0.5 ease-in-out;
}

.navlist button {
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.navlist a:hover {
  clip-path: polygon(5% 9%, 97% 0%, 100% 85%, 0% 100%);
  background-color: var(--color-primary);
  padding: 12px 15px 15px 15px;
  color: var(--color-text-white);
}

.logo {
  display: flex;
  align-items: center;
  width: max-content;
  text-wrap: balance;
  font-family: var(--font-malayalam);
  text-decoration: none;
  color: var(--color-text-black);
  font-size: 1rem;
}

.logo img {
  width: 5rem;
  margin-inline-end: 5px;
}

.header.hidden {
  transform: translateY(calc(-1 * var(--header-height)));
}

.header.scroll {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#menu-icon {
  color: black;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.cnct-nav {
  display: none;
}



/*=============================================
        =            HERO            =
=============================================*/

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)),
    url("../assets/images/temporaryImage.jpg");
  align-items: center;
  background-size: cover;
}

.hero-holder {
  margin: 0 !important;
}

.hero #hero-mal {
  font-family: var(--font-Main);
  color: var(--color-text-white);
  font-size: var(--text-title-size);
  font-family: var(--font-malayalam);
}




.hero #hero-welcome{
  font-size: var(--text-heading-size);
  color: var(--color-text-white);
}

.hero p {
  color: var(--color-text-white);
  width: 78ch;
  font-size: var(--text-body-size);
  padding-left: 2px;
}



/*=============================================
      =            ABOUT US            =
=============================================*/

.abt-ctr-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.abt-ctr-flex hr {
  width: 65%;
  height: 10px;
  background-color: var(--color-primary);
  border-radius: 2.5px;
}

.abt-cnt-holder {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.abt-cnt {
  padding: 0 !important;
  font-size: var(--text-body-size);
  text-align: right;
  text-wrap: pretty;
}

.abt-cnt p {
  margin-right: 15px;
}

.abt-cnt-holder > .hgl-txt {
  font-size: var(--text-body-size);
  margin: 0;
}

.abt-img-frame {
  position: relative;
}

.abt-img-frame img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 700px;
  aspect-ratio: 700/600;
}

.abt-title-sm-sc {
  display: none;
}

.abt-title {
  position: absolute;
  z-index: 1001;
  top: 5%;
  left: -31%;
}

.abt-title,
.abt-title-sm-sc {
  color: var(--color-primary);
  font-family: var(--font-handwriting);
  letter-spacing: 8px;
  line-height: calc(var(--text-heading-size) * 3.75);
  font-size: calc(var(--text-heading-size));
}



/*=============================================
  =            STATUS SELECTION            =
=============================================*/

.stat {
  position: relative;
}

.stat::before{
  content: "";
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1569173675610-42c361a86e37?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size:100vw 50vh;
  filter: blur(1px);
  filter: brightness(50%);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.stat > .row{
  padding-block: 75px !important;
  position: relative;
  display: flex;
  justify-content: space-around;

}

.stat-cnt-label{
  font-size: var(--text-body-size);
  color: var(--color-text-white);
}

.stat-cnt-number {
  font-size: calc(var(--text-title-size)* 1.5);
  font-family: var(--font-handwriting);
  color: var(--color-primary);
  font-weight: bold;
}



/*=============================================
      =            FACILITIES            =
=============================================*/

.fac-ctr{
  padding-top: 40px !important;
  padding-bottom: 0px !important;
  position: relative;
  
}


.fac-ctr::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-image: url(../assets/images/optional_bckgrd_pattern.jpg);
  filter:opacity(0.05)
}


.fac-hld{
  position: relative;
  max-width: 100% !important;
  z-index: 901;
}

.fac-title{
  font-family: var(--font-handwriting);
  font-size: var(--text-heading-size);
  color: var(--color-primary);
}

.fac-grid{
  padding: 0 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fac-grid-img, .fac-grid-txt{
  padding: 0 !important;
}

.fac-grid > .fac-grid-img{
  position: relative;

}

.fac-grid-img > .arrw{
  position: absolute;
  bottom: -1px;
  left: 42%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #fff;
  height: 50px;
  width: 100px;
}

#arrw-up{
  position: absolute;
  top: 0 !important;
  left: 42%;
  transform: rotate(180deg);
}

.fac-grid-img > .arrw > .arrw-img{
  background: url(../assets/images/optional_bckgrd_pattern.jpg);
  width: 100px;
  height: 100px;
  filter: opacity(0.05);
}

.fac-grid > .fac-grid-img img {
  width: 100%;
  height: 100%;
}

.fac-grid > .fac-grid-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper > .fac-grid-title{
  width: fit-content;
  margin: 0 auto;
}

.fac-grid-txt h2 {
  width: fit-content;
  font-size: var(--text-subheading-size);
  text-align: center;
}

.fac-grid-txt p{
  font-size: var(--text-body-size);
  text-align: center;
}

.fac-grid-txt > .wrapper > .hgl-txt{
  padding-bottom: 0 !important;
  justify-content: center;
  align-items: end;
  text-align: center;
  margin: 8px auto;
  padding: 0 !important;
  width: fit-content !important;
  border-bottom: 1px solid transparent;
  transition: all .55s ease;
}

.fac-grid-txt > .wrapper > .hgl-txt:hover{
  border-bottom: 1px solid green;
}




/*=============================================
        =            GALLERY            =
=============================================*/

.gal-title-hld{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px !important;
}

.gal-title-hld hr{
  background-color: var(--color-primary);
  width: 100%;
  height: 8px;
  border: 0px;
  border-radius: 2.5px;
}

.gal-title{
  width: auto !important;
  font-size: calc(var(--text-heading-size));
  font-family: var(--font-handwriting);
  color: var(--color-primary);
  letter-spacing: 4px;
  transition: all 2s !important;
}


.gallerygrid{
  display: flex;
  justify-content: center;
}

.gallerygrid .Gridbox:nth-child(5){
  position: relative;
}

.gallerygrid > .gal-btn-sml{
  display: none;
}

.Gridbox button{
  position: absolute;
  margin-top: 2.5px !important;
  margin-left:10px !important;
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}  

.Gridbox{
  padding: 2.5px;
}


.gallerygrid .Gridbox:nth-child(1),
.gallerygrid .Gridbox:nth-child(3),
.gallerygrid .Gridbox:nth-child(7)
{
  margin-top: 45px;
}

.Gridbox:nth-child(1) .Grid,
.Gridbox:nth-child(3) .Grid {
  justify-content: flex-end;
}


.Gridbox > .Grid{
  display: flex;
  margin-block: 5px;
}

.Gridbox .Grid:hover .Imgbox img{
  transform: scale(1.1);
  cursor: pointer;
}

.Grid > .Imgbox {
  border-radius: 8px;
  height: 170px;
  aspect-ratio: 170/190;
  overflow: hidden;
  display: block;
  max-height: fit-content;
}

.Gridbox  .Grid > .Imgbox img {
  transition: transform .8s;
  transform-origin: center center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 170/190;
}

.Grid > .block {
  width: 39px;
  height: 39px;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary)); 
  border-radius: 4px;
}



/*=============================================
        =            MAP            =
=============================================*/


.map-ctr{
  padding: 0 !important;
}

.map-hld{
  padding-inline: 0 !important;
  max-width: 100%;
}


.map-title{
  max-width: fit-content;
  margin-left: 15px;
}

.map-title h1{
  font-family: var(--font-handwriting);
  font-size: var(--text-title-size);
  color: var(--color-primary);
}

.map-title p{
  font-size: var(--text-subheading-size);
  color: var(--color-text-black);
}


.map{
  display: block;
  border: 0px solid;
  width: 100%;
  aspect-ratio: 16/4;
}


/*=============================================
      =            FOOTER            =
=============================================*/

.ft-holder, .ft-holder a{
  background: #93273b;
  color: white;
}

.ft-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-block: 15px;
}

.col-1,.col-2,.col-3{
  max-width: fit-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.col-1 span{
  font-family: var(--font-malayalam);
}

.col-1 p{
  width: 45ch;
  font-size: 1rem;
}

.col-1 > .logo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-frame img{
  max-width: fit-content;
  height: 100px;
  aspect-ratio: auto 100/50;
}

.col-2-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.col-2-div{
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 2.5px;
}


.col-3-holder{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 15px;
  
}

.col-3-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

.col-3-1 > .ft-txt{
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}

.col-3-1 > .ft-txt:hover{
  border-bottom: 2px solid white;
  
}


.ft-holder-2 > .flex-txt{
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 14px;
}







/*=============================================
    =            MEDIA QUERIES            =
=============================================*/


  /* scroll behaviour */
  @media (prefers-reduced-motion: no-preference){
    :has(:target){
      scroll-behavior: smooth;
    }
  }

  @media (max-width: 1280px) {
    /* !The local variables
    p - calc(var(--text-heading-size) * .9);
    */

    .holder {
      max-width: 1024px !important;
    }

    /* ABOUT US */
    .abt-img-frame img {
      width: 600px;
    }
    .abt-title {
      top: 3%;
      left: -36%;
    }

    .abt-cnt p,
    .abt-cnt-holder > .hgl-txt {
      font-size: calc(var(--text-body-size) * 0.9);
    }

    #right-arrow-icon {
      font-size: calc(var(--icon-body-size) * 0.8) !important;
    }

    /* STATS Section */
    .stat-cnt-number {
      font-size: calc(var(--text-title-size) * 1.25);
    }
  
    /* GALLERY  */

    .Gridbox  .Grid > .Imgbox{
      height: 145px;
    }

    /* FOOTER */

    .col-2-holder{
      gap: 10px;
    }

    .col-3-1{
      gap: 20px;
    }

    .col-2-div{
      text-align: center;
    }

    .loc-txt{
      align-items: flex-start;
      width: 70%;
    }
    
  }

  @media (max-width: 1024px) {

    /* ! The local variables
    h - calc(var(--text-heading-size) * .8);
    */

    .holder {
      max-width: 768px !important;  
    }

    .hero {
      height: 70vh;
    }

    /* ABOUT US */

    .abt-ctr-flex{
      max-width: 100% !important;
    }

    .abt-img-frame img {
      width: 500px;
    }

    .abt-title {
      font-size: calc(var(--text-heading-size) * 0.8);
      line-height: calc(var(--text-heading-size) * 2);
    }

    .abt-title hr {
      height: 9px;
    }

    /* STATS SECTION */

    .stat-cnt-number {
      font-size: calc(var(--text-title-size)* 1);
    }

    .stat > .row{
      justify-content: space-evenly;
      gap: 1rem;
      flex-wrap: wrap;
    }

    
    /* GALLERY */

    .gal-title{
      font-size: calc(var(--text-heading-size) *.8);
    }

    .Gridbox button{
      margin-top: 5px !important;
      margin-left: 10px !important;
      width: 110px;
      height: 45px;
    }

    .Gridbox{
      padding: 2.5px;
    }

    .Gridbox  .Grid > .Imgbox{
    height: 105px;
    }

    
    /* MAP */
    
    .map-title h1{
      font-size: calc(var(--text-title-size) * .8);
    }

    .map-title p {
      font-size: calc(var(--text-subheading-size) * .9);
    }

    .map{
      aspect-ratio: 16/10;
    }

    /* FOOTER */

    .ft-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .ft-flex > .col-1 p {
      text-align: center;
    }

    .col-2-holder{
      display: flex;
    }

    .col-2-holder{
      max-width: min-content !important;
    }

    .loc-txt{
      width: 80%;
    }

    
  }  
  
  @media (max-width: 768px) {
    /* ! The local variables
    h - calc(var(--text-heading-size) * .6);  
    p - calc(var(--text-body-size) * .8);
    */


    .holder {
      max-width: 640px !important;
    }

    
    /*----------  ABOUT US  ----------*/
    
    .abt-ctr-flex{
      max-width: 100% !important;
    }

    .abt-img-frame img {
      width: 400px;
    }

    .abt-title {
      top: 10px;
      font-size: calc(var(--text-heading-size) * 0.6);
      line-height: calc(var(--text-heading-size) * 2);
    }

    .abt-title hr {
      height: 7px;
    }
    .abt-cnt-holder {
      margin-top: 10%;
    }

    .abt-cnt-holder p {
      font-size: calc(var(--text-body-size) * 0.8);
    }

    
    /*----------  GALLERY  ----------*/
    
    .gal-title-hld hr{
      height: 7px;
    }

    .gal-title{
      font-size: calc(var(--text-heading-size) *.6);
    }
    
    .Gridbox button{
      margin-top: 10px !important;
      margin-left: 10px !important;
      width: 90px;
      height: 44px;
    }

    .Gridbox{
      padding: 2.5px;
    }

    .Gridbox .Grid{
      margin-block: 2.5px;
    }

    .gallerygrid .Gridbox:nth-child(1),
    .gallerygrid .Gridbox:nth-child(3),
    .gallerygrid .Gridbox:nth-child(7)
    {
      margin-top: 30px;
    }

    .Gridbox .Grid > .Imgbox{
      height: 90px;
    }


    .Grid > .block {
      width: 25px;
      height: 25px;
    }


    /*----------  MAP  ----------*/
    
    .map-title h1{
      font-size: calc(var(--text-title-size) * .6);
    }

    .map-title p {
      font-size: calc(var(--text-subheading-size) * .7);
    }

    
    

  }

  @media (max-width: 640px) {

    .holder {
      max-width: 475px !important;
    }

    
    /*----------  ABOUT US  ----------*/
    
    .abt-img-frame img {
      width: 100%;
    }

    .abt-ctr-flex{
      max-width: 0;
    }

    .abt-title {
      display: none !important;
    }

    .abt-title-sm-sc {
      display: inline;
      line-height: calc(var(--text-heading-size) * 2);
      font-size: calc(var(--text-heading-size) * .8);
    }

    .abt-title-sm-sc hr {
      height: 8px;
    }

    .abt-ctr-flex {
      display: flex;
      flex-direction: column;
    }

    .abt-cnt-holder {
      margin: 0;
      align-items: start;
      padding-left: 1rem;
    }

    .abt-cnt-holder .hgl-txt {
      padding-left: 0;
    }

    .abt-cnt p {
      margin-top: 10px;
      text-align: start;
    }

    
    /*----------  STATUS  ----------*/
    
    .stat-cnt-number h2{
      font-size: calc(var(--text-title-size) * .75) !important;
    }

    .stat-cnt-label p {
      font-size: calc(var(--text-body-size) * .75) !important;
    }

      /*----------  GALLERY  ----------*/

      .gal-hld{
        max-width: 100% !important;
        padding: 0 !important;
      }

      .gal-title{
        font-size: calc(var(--text-heading-size) * .8);
      }

      .Gridbox button{
        display: none !important;
      }

      .gallerygrid > button
      {
        float: right;
        color: #fff;
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        display: block !important;
        margin-right: 40px;
        margin-top: 2.5px;
      }

    .gallerygrid{
      flex-direction: column;
      align-items: flex-end;
      padding: 0 !important;
    }
    
    .Gridbox{
      padding: 0;
      width: 100%;
      margin: 0 !important;
      gap: 5px;
    }
    
    .Gridbox .Grid {
      margin: 0;
      padding-block: 2.5px;
      display: inline;
    }

    .Gridbox  .Grid > .Imgbox {
      width: 100%;
    }
    
    .gallerygrid .Gridbox:nth-child(1){
      display: grid;
      grid-template-columns: minmax(105px, auto) 35px;
    }

    .gallerygrid .Gridbox:nth-child(2){
      display: grid;
      grid-template-columns: minmax(10%, 1fr) 2fr;
    }

    .gallerygrid .Gridbox:nth-child(3){
      display: grid;
      grid-template-columns: minmax(170px, auto) 1fr 35px;
    }
    
    .gallerygrid .Gridbox:nth-child(4){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .gallerygrid .Gridbox:nth-child(5){
      display: grid;
      grid-template-columns: minmax(35px, auto) 1fr 170px;
    }

    .gallerygrid .Gridbox:nth-child(6){
      display: grid;
      grid-template-columns: minmax(135px, 1fr) 125px;
    }

    .gallerygrid .Gridbox:nth-child(7){
      display: grid;
      grid-template-columns: minmax(105px, auto) 35px;
    }

    /*----------  MAP  ----------*/
    
    .map-title h1{
      font-size: calc(var(--text-title-size) * .8);
    }

    .map-title p {
      font-size: calc(var(--text-subheading-size) * .9);
    }
    
    .map{
      width: 100%;
      aspect-ratio: 16/9;
      /* aspect-ratio: 700/800; */
    }
    
    
    /*----------  FOOTER  ----------*/
    
    .ft-flex{
      gap: 20px;
    }

    .col-2-holder{
      max-width: fit-content !important;
    }

    .loc-txt{
      width: auto;
    }
    
    .ft-holder-2 >.flex-txt{
      justify-content: center;
      text-align: center;
    }

  }

  @media (max-width: 475px) {
    /* !The local variable
    h - calc(var(--text-heading-size) * .6);
    */

    .holder {
      width: 100%;
    }

    
    /*----------  ABOUT US  ----------*/
    
    .abt-title-sm-sc {
      line-height: calc(var(--text-heading-size) * 1.55);
      font-size: calc(var(--text-heading-size) * 0.6);
      letter-spacing: 5px;
    }

    .abt-title-sm-sc hr {
      height: 8px;
    }

    
    /*----------  STATUS   ----------*/
    
    .stat > .row{
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;/ 
    }


    
    /*----------  GALLERY  ----------*/

    .gal-title-hld{
      padding: 0 !important;
    }

    .gal-title{
      font-size: calc(var(--text-heading-size) * 0.6);
    }

    .gal-title-hld hr{
      height: 7.5px;
    }
    
    
    /*----------  MAP  ----------*/
    
    .map-title h1{
      font-size: calc(var(--text-title-size) * .6);
    }

    .map-title p {
      font-size: calc(var(--text-subheading-size) * .7);
    }

    
    /*----------  FOOTER  ----------*/
    
    .ft-flex > .col-1 span,
     .col-2 p,
     .ft-holder-2 > .flex-txt p,
     .col-3-1 a
     {
      font-size: 12px;
    }

    .col-2{
      padding: 0 !important;
    }

    .ft-holder .title {
      font-size: 22px;
    }

    .col-1 p {
      display: none;
    }

    .loc-txt{
      width: 100%;
      min-width: 80%;
    }

  }
    
    

  