@import '../css/main.css';


/*=============================================
=        REUSABLE CLASSES/HTML RESET           =
=============================================*/

:root {
  --header-height: 100px;
  --color-text-black: #000000;
  --color-text-white: #faf2f4;
  --color-text-dim: #7b7a7b;
  --color-background: #faf2f4;
  --color-primary: #cc3e58;
  --color-primary-darken:#93273b;
  --color-secondary: #feb72a;
  --color-accent: #afaeaf;
  --text-title-size: 54px;
  --text-smtitle-size: 48px;
  --text-heading-size: 36px;
  --text-subheading-size: 24px;
  --text-body-size: 18px;
  --icon-body-size: 25px;
  --font-Main: "Hedvig Letters Serif", serif;
  --font-malayalam: "Noto Serif Malayalam", serif;
  --font-handwriting: "Dancing Script", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: var(--font-Main);
  /* background: hsl(33, 20%, 90%);  */
}


/*=============================================
  =            HEADER & NAVBAR            =
=============================================*/

.header-ctr{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
  width: 100%;
  padding-block: 0 !important;
  transition: all 0.5s ease-in-out;
}

.header-hold{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  /* padding: 33px 0%; */
}

.navlist .nav-link {
  color: var(--color-text-black);
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.25s ease-in;
  text-transform: uppercase;
}

.navlist li {
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: 0.5 ease-in-out;
}

.navlist button {
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.navlist .nav-link:hover {
  clip-path: polygon(5% 9%, 97% 0%, 100% 85%, 0% 100%);
  background-color: var(--color-primary);
  padding: 12px 15px 15px 15px;
  color: var(--color-text-white);
}

.logo {
  display: flex;
  align-items: center;
  width: max-content;
  text-wrap: balance;
  font-family: var(--font-malayalam);
  text-decoration: none;
  color: var(--color-text-black);
  font-size: 1rem;
}

.logo img {
  width: 5rem;
  margin-inline-end: 5px;
}

.header-ctr.hidden {
  transform: translateY(calc(-1 * var(--header-height)));
}

.header-ctr.scroll {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#menu-icon {
  color: black;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.cnct-nav {
  display: none;
}


/*=============================================
    =            MEDIA QUERIES            =
=============================================*/


@media (max-width: 1280px) {
  
  /*----------  Navbar SECTION  ----------*/

  .header {
    transition: 0.5 ease-in;
  }
  .navlist li {
    gap: 1.85rem;
  }
  
}

@media (max-width: 1024px) {

  /* ! The local variables
  h - calc(var(--text-heading-size) * .8);
  */

  .holder {
    max-width: 768px !important;  
  }

  
  /*----------  Navbar  ----------*/
  
  .header-ctr{
    padding: 0 !important;
  }

  .header-hold{
    max-width: 100% !important;
  }
}

@media (max-width: 970px){

  
  /*----------  Navbar Section  ----------*/
  
  .header-hold {
    justify-content: space-between;
    padding: 0 20px;
  }

  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 80%;
    right: -100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-shadow: 10px;
    height: min-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease;
  }

  .navlist li {
    display: inline;
  }

  .navlist .nav-link {
    display: block;
    margin: 12px 0;
    padding: 0 25px !important;
    transition: all 0.5s ease;
    color: var(--color-primary);
  }

  .navlist .nav-link:hover {
    clip-path: none !important;
    background-color: transparent;
    color: var(--color-primary);
    transform: rotateY(15deg);
  }

  .navlist .button-28 {
    display: none;
  }

  .navlist.open {
    right: 0%;
  }
}

@media (max-width: 768px) {

  
  /*----------  Navabar Section  ----------*/

  .header-hold{
    max-width: 100% !important;
  }
  
  
}

@media (max-width: 640px) {


  /*----------  Navabar Section  ----------*/

  .header-hold{
    max-width: 100% !important;
  }
  
 

}

@media (max-width: 475px) {
 

  /*----------  Navabar Section  ----------*/

  .header-hold > .logo img{
    display: none;
  }
  

}



/*=====  NAVBAR  ======*/



.sec{
  margin-block-start: 50px !important;
}

.container{
  width: 100%;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
}

.holder{
  border: 1px solid;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left:0.5rem ;
  padding-right: 0.5rem;
}

.wrapper{
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.txtshadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.boxshadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hgl-txt{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
  color: green;
  cursor: pointer;
  width: max-content;
  width: auto;
  font-size: var(--text-body-size);
  transition: all .55s ease;
  padding: 0 !important;
  border-bottom: 2.5px solid transparent;
}

#right-arrow-icon{
  margin-top: 1px;
  font-size: var(--icon-body-size);
}

.hgl-txt:hover{
  gap: 5px;
  border-bottom: 2.5px solid green;
}

/* Animation On Scroll */

.aos-hidden{
  opacity: 0;
  fill: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.aos-show{
  opacity: 1;
  fill: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .aos-hidden{
    transition: none;
  }

  .aos-reveal-hidden{
    transition: none;
  }
}

.aos-reveal-hidden{
  opacity: 0;
  transform: translateY(100deg);
  transition: all 4s;
}

.aos-reveal-show{
  opacity: 1;  
  transition: translateY(0deg);
}



/* web Scrollbar */

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
   background-color: rgba(241, 241, 241, 0.5); /*Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.7); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the thumb on hover */
} 


/* scroll behaviour */
@media (prefers-reduced-motion: no-preference){
  :has(:target){
    scroll-behavior: smooth;
  }
}



